body{ /* Es para aplicarle estilos al body */
    margin: 0; /* Es el margen */
    font-family: 'Times New Roman', Times, serif; /* Es el tipo de letra */
    padding: 10px;
    background: #f4f4f4; /* Es el fondo */
}

ol li{
    color: rgb(32, 35, 233);
    font-size: 20px;
    margin: 10px;
    gap: 5px;
}

ul{
    font-size: 24px;
}

ul li{
    color: rgb(238, 65, 46);
}


footer p{
    font-weight: bold;
    font-size: 20px;
    margin-top: 30px;
}

.juegos{
    font-size: 24px;
    font-weight: bold;
    color: rgba(0, 44, 84, 0.783);
}

h2{
    color: rgba(33, 45, 106, 0.893);
}

/*El . antes de la palabra es para referirse a clases*/
/* El # es para referise a ID */
/* El * sirve para que los estilos se le aplique a todo */